[submodule "3rd/exceptxx"]
	path = 3rd/exceptxx
	url = https://github.com/SergiusTheBest/exceptxx.git
[submodule "3rd/thread_pool"]
	path = 3rd/thread_pool
	url = https://github.com/progschj/ThreadPool.git
[submodule "3rd/restinio"]
	path = 3rd/restinio
	url = https://github.com/Stiffstream/restinio.git
